---
const { title, subtitle } = Astro.props;
---

<div class="relative mt-3 pt-6 text-left italic text-gray-200 font-serif">
    <h1 class="mb-2 w-full text-4xl font-light md:text-5xl">
        {title}
    </h1>
    {subtitle && <h2 class="relative block mb-6 text-lg ">{subtitle}</h2>}
</div>
