---

---

<div
  class="absolute top-0 right-0 z-0 flex items-center justify-center w-[25rem] h-[25rem] sm:w-32 sm:h-32 translate-x-16 -translate-y-3 sm:translate-y-0 sm:translate-x-0 print:h-24 print:w-32 transform"
>
  <svg
    id="Layer_1"
    data-name="Layer 1"
    class="h-[25rem] w-[25rem] sm:w-32 sm:h-32 mx-auto"
    viewBox="0 0 60 74"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g class="opacity-20 sm:opacity-30 dark:opacity-80 print:!opacity-30">
      <path
        class="text-white fill-current dark:text-gray-900 print:fill-white stroke-none"
        d="M203.61 63.64c4.79 0 7.26 2.78 7.26 8.26 0 4.49-1.46 11-1.46 14.61 0 4.41 2.24 6.72 7.26 7.34v1.39c-5 .62-7.26 2.94-7.26 7.35 0 3.63 1.46 10.12 1.46 14.6 0 5.49-2.47 8.27-7.26 8.27a24.34 24.34 0 0 1-2.81-.24V64a15.68 15.68 0 0 1 2.81-.36Z"
        transform="translate(-166.91 -63.64)"
        style="filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));"></path>
    </g>
    <g class="opacity-10 sm:opacity-20 dark:opacity-50 print:!opacity-20">
      <path
        class="text-white fill-current dark:text-gray-900 print:fill-white stroke-none"
        d="M186.29 63.64c4.79 0 7.27 2.78 7.27 8.26 0 4.49-1.47 11-1.47 14.61 0 4.41 2.24 6.72 7.26 7.34v1.39c-5 .62-7.26 2.94-7.26 7.35 0 3.63 1.47 10.12 1.47 14.6 0 5.49-2.48 8.27-7.27 8.27a24.07 24.07 0 0 1-2.8-.24V64a15.51 15.51 0 0 1 2.8-.36Z"
        transform="translate(-166.91 -63.64)"
        style="filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));"></path>
    </g>
    <g class="opacity-5 sm:opacity-10 dark:opacity-20 print:!opacity-10">
      <path
        class="text-white fill-current dark:text-gray-900 print:fill-white stroke-none"
        d="M169.72 63.64c4.79 0 7.26 2.78 7.26 8.26 0 4.49-1.47 11-1.47 14.61 0 4.41 2.24 6.72 7.27 7.34v1.39c-5 .62-7.27 2.94-7.27 7.35 0 3.63 1.47 10.12 1.47 14.6 0 5.49-2.47 8.27-7.26 8.27a24.34 24.34 0 0 1-2.81-.24V64a15.68 15.68 0 0 1 2.81-.36Z"
        transform="translate(-166.91 -63.64)"
        style="filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));"></path>
    </g>
  </svg>
</div>
