---
import BaseHead from "@/components/BaseHead/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/config";
import ThemeIcon from "./themeIcon.astro";
import Fonts from "@/layouts/Fonts.astro";

const { english } = Astro.props;
---

<html lang="es">
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <Fonts />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div
      class="relative px-4 pt-16 pb-8 overflow-x-hidden font-sans bg-white print:!bg-white dark:bg-gray-900 print:text-gray-900 md:pt-20 print:pt-3 print:md:pt-3 cvPage"
    >
      <div
        class="fixed top-0 left-0 right-0 z-50 flex items-center justify-center w-full h-16 bg-white/70 dark:bg-gray-900/90 print:hidden backdrop-blur-lg hue-rotate-30 dark:hue-rotate-15"
      >
        <div
          class="flex relative z-10 items-center justify-between w-full max-w-3xl px-2 md:px-8 mx-auto"
        >
          <a
            href="/"
            aria-label="Ir a la página de inicio"
            class="w-8 h-8 m-3 font-mono flex justify-center items-center text-lg font-medium text-gray-900 rounded hover:ring-2 ring-transparent hover:ring-gray-300 dark:text-white print:hidden"
            data-tip="Inicio"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="w-6 h-6"
            >
              <path
                class="fill-gray-800 dark:fill-white"
                d="M5 19v-8.692q0-.384.172-.727q.171-.343.474-.566l5.385-4.077q.422-.323.966-.323q.543 0 .972.323l5.385 4.077q.303.223.474.566q.172.343.172.727V19q0 .402-.299.701q-.3.299-.701.299h-3.385q-.343 0-.575-.232q-.232-.232-.232-.576v-4.769q0-.343-.233-.575q-.232-.233-.575-.233h-2q-.343 0-.575.233q-.233.232-.233.575v4.77q0 .343-.232.575q-.232.232-.575.232H6q-.402 0-.701-.299Q5 19.401 5 19"
              >
              </path>
            </svg>
          </a>

          {
            english && (
              <a
                href="/cv/"
                data-tip="Traducir al Inglés"
                aria-label="Ir a la versión en Ingles"
                class="w-8 h-8  m-3 flex justify-center items-center font-mono text-lg font-medium text-gray-900 rounded  hover:ring-2 ring-transparent hover:ring-gray-300 dark:text-white"
              >
                ES
              </a>
            )
          }

          {
            !english && (
              <a
                href="/cv/en"
                data-tip="Traducir al Inglés"
                aria-label="Ir a la versión en Ingles"
                class="w-8 h-8  m-3 flex justify-center items-center font-mono text-lg font-medium text-gray-900 rounded  hover:ring-2 ring-transparent hover:ring-gray-300 dark:text-white"
              >
                EN
              </a>
            )
          }

          {
            english && (
              <a
                href="/SRC-en.pdf"
                target="_blank"
                data-tip="Descargar PDF"
                aria-label="Descargar CV en formato PDF"
                rel="noopener noreferrer"
                class="w-8 h-8 m-3 flex justify-center items-center font-mono text-lg font-medium text-gray-900 rounded hover:ring-2 ring-transparent hover:ring-gray-300 dark:text-white print:hidden"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 24 24"
                  class="w-6 h-6"
                >
                  <path
                    class="fill-gray-800 dark:fill-white"
                    d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z"
                  />
                </svg>
              </a>
            )
          }

          {
            !english && (
              <a
                href="/SRC.pdf"
                target="_blank"
                data-tip="Download PDF file"
                aria-label="Download CV in PDF format"
                rel="noopener noreferrer"
                class="w-8 h-8 m-3 flex justify-center items-center font-mono text-lg font-medium text-gray-900 rounded hover:ring-2 ring-transparent hover:ring-gray-300 dark:text-white print:hidden"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 24 24"
                  class="w-6 h-6"
                >
                  <path
                    class="fill-gray-800 dark:fill-white"
                    d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z"
                  />
                </svg>
              </a>
            )
          }
          <ThemeIcon />
        </div>
      </div>
      <slot />
    </div>
    
  </body>
</html>
