---
import PageLayout from "../layouts/Page.astro";
import Social from '../components/Social/Social.astro';
---

<PageLayout>
  <h1 class="sr-only">Contacto</h1>
  <h2 class="sr-only">santuan.web arroba gmail.com</h2>
  <div class="h-[30vh]">
    <Social/>
  </div>
</PageLayout>
