---
const { title, description, url } = Astro.props;
---

<h3
  class="blogpost relative w-full justify-start items-start focus-within:ring-2 focus-within:ring-indigo-500 px-2.5 focus-within:pl-2 py-6 font-serif shadow duration-300 hover:shadow-xl border border-primary/10 flex flex-col"
>
  <a
    href={url}
    class="flex w-full flex-col text-2xl font-medium outline-none justify-start items-start gap-2 rounded text-pretty duration-300 visited:!text-[#a5b4fc] md:text-xl"
  >
    <span
      class="flex flex-col items-start justify-between w-full sm:flex-row sm:items-center"
    >
      {title}
      <span class="visited">Visitado</span>
    </span>
    <p class="pb-2 text-base font-normal description md:text-lg">
      {description}
    </p>
  </a>
</h3>

<style>
  @reference "@/styles/globals.css";
  .blogpost .visited {
    color: #1f2937;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: var(--font-mono);
    font-style: italic;
  }

  .blogpost a:visited .visited {
    color: rgb(185, 196, 211) !important;
  }
  .blogpost a:visited .description {
    color: rgb(83, 108, 144) !important;
  }

  .blogpost:focus-within a:visited .visited,
  .blogpost:hover a:visited .visited {
    color: white !important;
  }
  .blogpost:focus-within a:visited .description,
  .blogpost:hover a:visited .description {
    color: white !important;
  }
</style>
