---
import BaseHead from "@/components/BaseHead/BaseHead.astro";
import Header from "@/components/Header/Header.astro";
import Fonts from "@/layouts/Fonts.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/config";
export interface Props {
  bodyClass?: string;
}

const { bodyClass } = Astro.props;
---

<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class={`${bodyClass ? bodyClass : ""} dark`}>
    <Header />
    <Fonts />
    <main
      class="flex flex-col relative z-10 justify-center items-center px-0 bg-secondary"
    >
      <slot />
    </main>
  </body>
</html>
