---
import Layout from "@/layouts/BaseLayout.astro";

export interface Props {
  bodyClass?: string;
}

const { bodyClass } = Astro.props;

---

<Layout bodyClass={bodyClass}>
  <div class="w-full mx-auto">
    <slot />
  </div>
</Layout>
